.input-group-prepend .input-group-text {
  color: #16df7e;
}

.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}

.fa-arrow-circle-right {
  color: #16df7e;
  padding: 8px;
  font-size: 1.5rem;
}

.sign-up li {
  font-size: 15px;
  font-weight: 450;
  line-height: 3.5;
}

@media only screen and (max-width: 768px) {
  .fa-arrow-circle-right {
    font-size: 1.25rem;
  }

  .sign-up li {
    line-height: 2.25;
  }
}
