.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-fluid {
  padding-left: 0ch;
  position: relative;
  padding-right: 0ch;
  margin-left: 0ch;
  margin-right: 0ch;
}
.connect-H {
  background-image: linear-gradient(
      180deg,
      rgba(0, 58, 91, 0.65) 0%,
      rgba(41, 196, 169, 0.7) 100%
    ),
    url(../images/homeBackground.jpg) !important;
  color: white;
  /* width: 100%; */
  height: 80vh;
  background-size: cover;
  background-position: 50% 20%;
  background-repeat: no-repeat;
}

.col-sm-3 {
  padding: 10px;
}

.col-sm-4 {
  padding: 20px;
}

.col-sm-6 {
  padding: 20px;
}

.svg-container {
  padding: 15px;
}
.form-box {
  margin: auto;
  border: white;
  background-color: white;
  border-radius: 5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0 5px 18px 3px rgba(0, 0, 0, 0.1);
  /* box-shadow: 2px 2px 2px 2px grey; */
  /* padding-bottom: 50px; */
}

.form-control {
  width: 100%;

  /* float: center; */
  /* background-color: LightGrey; */
}

.form-group {
  padding-top: 8px;
  padding-bottom: 8px;
}

@media only screen and (max-width: 768px) {
  .form-control {
    width: 100%;
  }

  .home-bg-content {
    font-size: 15px;
  }
}
.form-box-contactus {
  box-shadow: 0 5px 18px 3px rgba(0, 0, 0, 0.1);
}
.contactus{
  background-image: linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/contactus.jpg);
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  padding: 30px 15px 0;
  color:white;
  /* font-size: x-small; */
}
.contactus a{
  text-decoration: none;
  margin-left: 5px;
  color: var(--color-secondary);
}
.contactus a:hover{
  text-decoration: none;
}
.contactus .fas{
  font-size: unset;
}