.navbar-custom {
  width: 100%;
  /* margin:auto; */
  padding-left: 10%;
  padding-right: 10%;
  background-color: white !important;
}

nav,
.dropdown-item {
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-size: 14px;
  font-weight: bold !important;
  letter-spacing: 1px;
}
.get-started-button {
  float: right;
  background-color: #ef692b;
  color: white;
  border-radius: 8px;
  border-bottom: 4px #ba6036 solid;
  text-align: center;
  outline: none;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 15px;
  font-weight: 600;
  padding-top: 10px;
  margin-left: 8.5px;
}
.get-started-button:hover {
  background-color: #ef7c46;
  border-bottom: 4px #ef7c46 solid;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 600;
}
@media screen and (max-width: 768px) {
  .get-started-button {
    float: left;
  }
}

@media screen and (max-width: 990px) {
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
    transition: ease-in-out 0.2s;
  }
}
@media screen and (max-width: 990px) {
  .navbar .nav-item .dropdown-menu {
    border: none;
  }
  .navbar .nav-item .dropdown-item {
    padding-left: 20px;
    transform: translateY(0);
  }
}
.navbar .nav-item .dropdown-menu {
  margin-top: 0;
}

.dropdown-item.active,
.dropdown-item:active {
  text-decoration: none;
  font-weight: bold;
  background-color: white;
}
