.navbar-custom{
    width: 100%;
    /* margin:auto; */
    padding-left: 10%;
    padding-right: 10%;
    background-color: white!important;
}

nav,.dropdown-item{
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-size: 14px;
    font-weight: bold!important;
    letter-spacing: 1px;
}
.get-started-button{
	float: right;
    background-color: #EF692b;
    color:white;
    border-radius: 8px;
    border-bottom: 4px #BA6036 solid;
    text-align: center;
    outline:none;
    border-top: none;
    border-left: none;
    border-right: none;
}
.get-started-button:hover{
    background-color: #EF7C46;
    text-decoration: none;
    color:white;
}
.navbar .nav-item:hover .dropdown-menu{ display: block; }
.navbar .nav-item .dropdown-menu{ margin-top:0; }

.social-footer-icons li{
    display: inline-block;
    margin:5px;
    color: white;
}
.social-footer-icons i{
    color:#2b3152;
    font-size: x-large;
}
.social-footer{
    /* background-color: #2b3152; */
    border-top: 0.5px solid rgb(199, 199, 199);
    /* width: 40%; */
    
}